/* static/css/style.css */
.btn-secondary {
    color: #fff !important;
}

img {
    width: 100%;
}

.navbar {
    opacity: 0.9;
    text-transform: uppercase;
}

.navbar-nav .nav-link {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* Modal 樣式 */
.custom-modal .modal-dialog {
    max-width: 600px;
    width: 100%;
}

.custom-modal .modal-content {
    background-image: url('../images/Untitled-166.webp');
    background-size: cover;
    background-position: center;
    min-height: 500px;
    color: white;
}

.custom-modal .modal-header {
    border-bottom: none;
}

.custom-modal .modal-body {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-modal .modal-title,
.custom-modal .form-label {
    color: white;
}

.custom-modal .btn-close {
    filter: invert(1);
}

.custom-modal .alert-danger {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    width: 100%;
}

.custom-modal .form-group,
.custom-modal .form-control,
.custom-modal .btn-primary {
    width: 100%;
}

@media (max-width: 576px) {
    .custom-modal .modal-dialog {
        max-width: 90%;
    }
}