<form method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-danger">
            使用者名稱或密碼錯誤
        </div>
    {% endif %}
    <div class="mb-3">
        <label for="id_username" class="form-label">使用者名稱</label>
        {{ form.username }}
    </div>
    <div class="mb-3">
        <label for="id_password" class="form-label">密碼</label>
        {{ form.password }}
    </div>
    <button type="submit" class="btn btn-primary w-100">登入</button>
    <p class="mt-2 text-center">還沒有帳號？<a href="#" data-bs-toggle="modal" data-bs-target="#registerModal" data-bs-dismiss="modal">註冊</a></p>
</form>