{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>顧客資料</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="{% static user.customer_profile.avatar %}" alt="頭像" class="img-fluid rounded-circle" style="max-width: 150px;">
        </div>
        <div class="col-md-8">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">儲存</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}